.containerTitle {
  padding-top: 10px;
  padding-bottom: 11px;
  &--wrap {
    background: url("/assets/image/topography.png") repeat;
  }
}
.pageTitle{
  margin-top: 0;
  margin-bottom: 0;

  font-size: calc(1rem * 2);
  line-height: calc((1rem * 2) + 8px);
  word-spacing: 3px;
  color: #285473;

}

.articleBody{
    p {
      color: #24252a;
      line-height: calc(2rem - 3px);
    }
      h2 {
        font-size: 1.5rem;
        line-height: calc(1rem * 2);
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
      }

      h3 {
        font-size: 1.3rem;
        line-height: calc(1rem * 2 - 2px);
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
      }

      h4 {
        font-size: 1.1rem;
        line-height: calc(1rem * 2 - 5px);
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
      }

      h5 {
        font-size: 0.93rem;
        line-height: calc(1rem * 2 - 8px);
        margin-top: 1.1rem;
        margin-bottom: 1.1rem;
      }

      h6 {
        font-size: 0.77rem;
        line-height: calc(1rem * 2 - 11px);
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
.p0 {
  margin-top: 10px;
  margin-bottom: 0;
}
.sociaLocker h3 {
  font-size: 1.4rem;
  line-height: 1em;

  padding-top: calc(1rem - 8px);
  padding-left: 0;
  padding-right: 0;

  margin-bottom: calc(1rem - 8px);
}
.rek--wrap {

  h3 {

  }
  a{
    line-height: calc((1rem * 2) - 7px);
  }
}

.title-article {
  font-size: 1.4rem;
  line-height: calc(1rem * 2 - 4px);
  max-height: calc((1rem * 2 - 4px) * 3);

}
.authorDescr--wrap {

  h3 {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  p {
    font-size: .95rem;
    line-height: calc(2rem - 6px);
  }
}

// MAX 320PX Start

    @media (max-width: 320px) {
      html {
        font-size: 14px !important;
      }
      .p0{
        line-height: calc((1rem * 2) - 3px ) !important;
      }
      p {
        line-height: 23px !important;
      }
      .containerTitle {
        padding-top: 5px;
        padding-bottom: 6px;
      }
      .pageTitle {
        font-size: calc((1rem * 2) - 4px);
        line-height: calc((1rem * 2) + 3px);
      }
      .articleBody {

        h3 {
        }
      }
      .rek--wrap {

        h3 {
          padding-top: 2px;
          padding-bottom: 2px;
        }
        a{
          line-height: calc((1rem * 2) - 6px);
        }
      }
    }

    @include for-tablet-portrait-up {
      html{
        font-size: 16px;
      }
      .authorDescr--wrap {

        h3 {
          margin-bottom: 20px;
        }
        p {
          font-size: 1rem;
          line-height: calc(2rem - 4px);

        }
      }
    }

    @include for-tablet-landscape-up {
html{
  font-size: 17px;
}
      .p0{
        font-size: 17px !important;
      }
      .pageTitle {
        padding-top: 5px;
        padding-bottom: 10px;
        line-height: calc((1rem * 2) + 18px);
      }
    }

    @include for-desktop-up {
      html{
        font-size: 19px;
      }
      .p0{
          font-size: 17px !important;
      }
      .articleBody{
        p{
          font-size: 17px;
        }
        ol,ul{
          li{
            font-size: 17px;
          }
        }
      }
      .pageTitle {
        padding-top: 10px;
        padding-bottom: 20px;
        line-height: calc((1rem * 2) + 30px);
      }
      #anchor{
        a {
          font-size: calc(1rem + 1px);
        }
      }
    }

    @include for-big-desktop-up {

    }



