.siteHeader{
  svg {
    color: #ec407a;
    width: calc(1rem + 5px);
    transform: translateY(13%);
    margin-right: 10px;
  }
  p{
    font-size: calc(1rem + 5px);
  }
}
.siteFooter {
  background-color: #263554;
  margin-top: 20px;
  &--wrap {
  }

  h4 {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 11px;
    margin-left: 10px;

    color: #fafafa;
    text-transform: uppercase;
  }
}
.bestPosts-footer {
  ul {
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    list-style: none;


  }

  li {
    margin: 2px 0;
  }

  a {
    color: #a0accc;
    text-decoration: none;

    &:hover{
      text-decoration: underline;
    }
  }
}
.designer {
  text-align: center;
  background-color: #273149;
  color: #bdbdbd;
  padding: 10px 0;

  &--svg {
    color: #ec407a;
    width: 1em;
    height: .8em;
    transform: translateY(10%);
  }
  a{
    color: #bbdefb;
  }
}

.footerMini {
  color: #bdbdbd;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin: 5px;

    a{
      color: #3b86c4;
      text-decoration: none;
      
      &:hover{
        color: #cf000f;
        text-decoration: underline;
      }
    }
  }
}

@include for-tablet-portrait-up{
  .bestPosts-footer {
    display: flex;
    justify-content: space-between;

    ul:last-child {
      margin-right: 10px;
      text-align: right;
    }
  }
}

@include for-tablet-landscape-up {
  .siteFooter--wrap{
    h4{
      margin-left: 0;
    }
  }
  .bestPosts-footer {
    ul {
      margin-left: 0;
      margin-right: 0 !important;
    }
  }
  .footerMini {
    color: #bdbdbd;
    font-size: .95em;
    list-style: none;
    padding-left: 0;
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    li {
      margin: 5px;

      &:not(:nth-last-child(-n+1)):after {
        margin-left: 1em;
        content: "|";
        color: #bdbdbd;
      }

      a{
        color: #3b86c4;
        text-decoration: none;

        &:hover{
          color: #cf000f;
          text-decoration: underline;
        }
      }
    }
  }
}