<section id="sharePage" class="sociaLocker">
    <h3 id="brr">Контент спрятался</h3>
    <p>Что бы его увидеть нужно поделиться страницей в социальных сетях, зарание спасибо дорогой посетитель</p>
    <div class="sociaLocker__btns"><button class="vk-mini" value="http://vkontakte.ru/share.php?url=https://webzwezda.github.io">Vk</button><button class="ok-mini">Ok</button><button class="fb-mini">Fb</button><button class="pin-mini">Pin</button><button class="tw-mini">Tw</button></div>
    <button id="btnRemove-share" class="shareClose" >Я уже поделился</button>

    <template id="productrow">
        {{ include.content }}
    </template>
</section>